body {
    background-color: black;
}

.dropdown-item:hover {
   background-color: yellow;
   color: black;
}

.dropdown-item:active{
    background-color: yellow;
}

.jumbo-boy{
    background:yellow;
    border: 1px;
    outline-width: thin; 
    border-radius: 20px; 
    text-align: center;
}
