.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: black;
    height: 56px;
    z-index: 1;
}

.toolbar__navigation {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.toolbar__logo {
    margin-left: 1rem;
}

.toolbar__logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.spacer {
    flex: 1;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 0.5rem;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-item {
    margin: 0 1em;
    background-color: #FFF017;
}

.toolbar_navigation-items Button {
    color: black;
    margin: 0.5rem;
    background: yellow;
    border-color: transparent;
}

.toolbar_navigation-items {}

.dropdown_menu {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border: rgba(255, 255, 255, 0.8);
}

.toolbar_navigation-items Button:hover {
    background: yellow;
    border-color: transparent;
    color: black;
}

.toolbar_navigation-items Button:focus {
    background: yellow;
    border-color: transparent;
    color: black;
}

.toolbar_navigation-items Button:active {
    background: yellow;
    border-color: transparent;
    color: black;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

@media (max-width: 768px) {
    .toolbar_navigation-items {
        display: none;
    }
}

@media(min-width: 769px) {
    .toolbar__toggle-button {
        display: none;
    }
    .toolbar__logo {
        margin-left: 0;
    }
}