.jumbo-boy{
    background:yellow;
    border: 1px;
    outline-width: thin; 
    border-radius: 20px; 
}
.pedidosBody{
    display: flex;
    justify-content: center;
}
.Card_pedidos{
    padding: 10px;
    margin: 10px;
    
}

.map-div {
    height: 100%;
    width: 100%;
}

.outer-div {
    height: 330px;
    width: 82.5%;
    position: absolute;
    display: inline-block;
    text-align: center;
}

.table-div{
    background-color: white;
}

.spacer-div{
    padding: 10px;
    background-color: black;
}