.jumbo-boy{
    background:yellow;
    border: 1px;
    outline-width: thin; 
    border-radius: 20px; 
}
.pedidosBody{
    display: flex;
    justify-content: center;
}
.Card_pedidos{
    padding: 10px;
    margin: 10px;
    
}