

.button{
    background-color: none;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    padding: 1px 2px;
    box-sizing: border-box;
    top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    left: 50%;
    max-width: 375px;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    z-index: 1;
}

.outer-div{
    height: 330px;
    width: 82.5%;
    position: absolute;
    justifyContent: center;
    display: inline-block;
    text-align: center;
}

.jumbotron-div{
    height: 70%;
}

.map-div{
    height: 100%;
    width: 100%;
}

.button-div{
    padding-top: 10px;
}


@media (max-width: 768px){ 
    .outer-div{
        width: 93%;
    }
    .jumbotron-div{
        height: 60%;
    }
    
}
