.button {
    background-color: none;
    font-weight: 500;
    font-family: Roboto, sans-serif;
    padding: 1px 2px;
    box-sizing: border-box;
    top: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    left: 50%;
    max-width: 375px;
    position: absolute;
    transform: translateX(-50%);
    width: calc(100% - 10px);
    z-index: 1;
}

.pedir {
    background: yellow;
    color: black;
    outline: none;
}

.pedir:hover {
    background: yellow;
    color: black;
    outline: none;
}

.pedir:focus {
    background: yellow;
    color: black;
    outline: none;
}

.pedir:active {
    background: yellow;
    color: black;
    outline: transparent;
}

.outer-div {
    height: 350px;
    width: 60vw;
    position: absolute;
    display: inline-block;
    text-align: center;
}

.jumbotron-div {
    height: 70%;
    align-items: center;
}

.jumbo-boy {
    background: yellow;
    border: 1px;
    outline-width: thin;
    border-radius: 20px;
    text-align: center;
}

.jumbo-boy h1 {
    font-size: 45px;
}

.map-div {
    height: 100%;
    width: 100%;
}

.button-div {
    padding-top: 10px;
}

.invisible-div {
    visibility: hidden;
    display: none;
}

@media (max-width: 768px) {
    .outer-div {
        width: 93%;
    }
    .jumbotron-div {
        height: 58%;
    }
    .jumbo-boy {
        border-radius: 10px;
    }
    .jumbo-boy h5 {
        font-size: 1.21rem;
    }
}