.wrapper{
    position: relative;
}

.over_map{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 5;
}

.pedir {
    color: black;
    outline: none;
    margin: 0 1rem;
    background-color: #FFF017;
    border-color: black;
    width: 120px;
    height: 40px;
}

.pedir:hover {
    background: yellow;
    color: black;
    outline: none;
    border-color: black;
}

.pedir:focus {
    background: yellow;
    color: black;
    outline: none;
    border-color: black;
}

.pedir:active {
    background: yellow;
    color: black;
    outline: transparent;
    border-color: black;
}

.outer-div {
    height: 330px;
    width: 82.5%;
    position: absolute;
    display: inline-block;
    text-align: center;
}

.jumbotron-div {
    height: 70%;
    align-items: center;
}

.jumbo-boy {
    background: yellow;
    border: 1px;
    outline-width: thin;
    border-radius: 20px;
    text-align: center;
}

.jumbo-boy h1 {
    font-size: 45px;
}

.map-div {
    height: 100%;
    width: 100%;
}


.navbar-home {
    display: flex;
    flex-direction: row;
    position: fixed;
    width:200px;
    height:40px;
    bottom:30px;
    right:25%;
    left:50%;
    margin-left:-150px;
}

.invisible-div {
    visibility: hidden;
    display: none;
}

@media (max-width: 768px) {
    .outer-div {
        width: 93%;
    }
    .jumbotron-div {
        height: 58%;
    }
    .jumbo-boy {
        border-radius: 10px;
    }
    .jumbo-boy h5 {
        font-size: 1.21rem;
    }
    .navbar-home{
        left: auto;
    }

    .pedir{
        width: 120px;
        height: 40px;
        margin: 0 0.3rem;
    }
}